body{
    margin: 0;
}

header{
    width: 100vw;
}

footer{
    width: 100vw;
    background-color: rgba(0,0,0, 0.5);
}

.contact{
    display: flex;
    width: 90vw;
    justify-content: space-between;
}

.contact p{
    color: white;
}

.gh{
    color: black
}

.c-left{
    margin-top: 1vw;
    margin-left: 9vw;
}

.c-right{
    margin-top: 3vw;
}

.cc{
    
    display: flex;
    margin: 0px;
    padding: 0px;
    height: 3vw;
}


.top{
    width: 100%;
    height: 12vw;
    overflow: hidden;
}

.top img{
    position: relative;
    width: 100%;
    top: -4vw;
    left: -1vw;
}

nav{
    position: relative;
    width: 95vw;
    margin-left: 2vw;
}

.nav-items{
    display: flex;
    justify-content: space-between;
    margin: 2vw;
    border-bottom: 1px solid black;
}

.nav-item-container{
    margin-bottom: 2vw;
}

.nav-item{
    transition: ease-in-out;
    transition-duration: 200ms;
}

.nav-item:hover{
    text-decoration: underline;
}

.nav-item-logo{
    margin-top: -10px;
}

a{
    text-decoration: none;
}

.content{
    width: 95vw;
    margin-left: 2vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    
}

.banner-container{
    display: flex;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    width: 95vw;
}



.banner-container div{
    height: 100%;
}

.banner-container2{
    display: flex;
    position: relative;
    width: 95vw;
    overflow: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}



.bronzeshirt{
    width: 300px;
    height: auto;
}
.bronzeshirt2{
    width: 300px;
    height: auto;
}
.harleyshirt{
    width: 270px;
    height: auto;
}
.capetown{
    width: 270px;
    height: auto;
}

.banner-container div img{
    width: 20vw;
    height: auto;
}

.banner{
    position: relative;
    width: 95vw;
}

.banner2{
    position: relative;
    width: 80vw;
}

.banner-header{
    display: flex;
}

.see-all{
    margin-left: 1vw;
    padding-top: 0.8vw;
}

.see-all:hover{
    text-decoration: underline;
}

.banner-img-container{
    margin-right: 2vw;
    animation-name: scroll;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes scroll{
    0% {
        transform: translateX(0);
    }
    50%{
        transform: translateX(-400%);
    }
    

}

.nike{
    width: 375px;
}

.banner3{
    display: flex;
    width: 95vw;
    background-color: rgba(0,0,0);
    padding: 2vw;
}

.nike3{
    width: 400px;
    height: auto;
}

.shop-now1{
    position: relative;
    margin-top: 25vh;
    margin-left: 30vw;
}
.shopnow{
    background-color: white;
    border: 1px solid black;
    padding: 15px;
}

.shopnow:hover{
    background-color: rgba(250, 180, 0, 0.9);
}

.b3-title h4{
    color: white;
}

.banner-header2{
    display: flex;
    width: 90vw;
    color: white;
    background-color: black;
}

.shopnow2{
    position: relative;
    left: 40vw;
    background-color: white;
    border: 1px solid black;
    padding: 1vw;
}

.shopnow2:hover{
    background-color: gold;
}

.banner4{
    position: relative;
    display: flex;
    width: 95w;
    height: 70vh;
    
}

.coatad-container{
    width: 45vw;
    height: 65vh;
    overflow: hidden;
    
}

.coatsad{
    width: 45vw;
    margin-top: -3vw;
    margin-left: 4vw;
    animation-name: scrollup;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes scrollup {
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-10%);
    }

    100%{
        transform: translateY(0%);
    }
}

.coatsad2{
    width: 45vw;
    margin-left: 3vw;
    animation-name: scrollup2;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes scrollup2 {
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-10%);
    }

    100%{
        transform: translateY(0%);
    }
}

.content2{
    position: relative;
    width: 70vw;
 
}

.content2 h2{
    margin-left: 2vw;
    border-bottom: 2px solid black;
    width: 93vw;
    margin-bottom: 2vh;
}

.products{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 2vw;
    row-gap: 2vw;
    list-style: none;
}

.products li{
    width: 20vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.f-img-cont{
    width: 20vw;
    height: 20vw;
    border-bottom: 0.4px solid rgba(0, 0, 0, 0.3);
    background-color: white;
}

.product-img{
    width: 18vw;
    height: 18vw;
    margin-left: 1vw;
    margin-top: 1vw;
    height: auto;
}

#ld{
    width: 13vw;
    margin-left: 3vw;
}

.n{
    margin-top: 1vh;
}
.nl{
    position: relative;
    bottom: 0px;
    padding: 0px;
}

label{
    width: 10vw;
}

input{
    width: 30vw;
}

form{
    width: 32vw;
    padding: 1vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

legend{
    text-align: center;
}

form #submit{
    margin-top: 1vw;
}

.product-label{
    display: flex;
}

.sale{
    position: relative;
    color: red;
    font-weight: bold;
    margin-left: 2vw ;
}
.price{
    position: relative;
    color: green;
}

.product-view{
    display: flex;
    margin-bottom: 10vh;
}

.p-view{
    width: 45vw;
}

.colour-img{
    width: 6vw;
}

.addtocart{
    width: 140px;
    height: 40px;
    background-color: rgb(0,0,0);
    color: white;
    
}

.addtocart:hover{
    cursor: pointer;
    width: 145px;
    height: 45px;
}

.items-list{
    position: relative;
    left: 20vw;
    width: 40vw;
    height: auto;
    align-items: center;
}

.hf{
    display: flex;
}

.hf button{
    margin: 3px ;
}

.pro-name{
    padding-right: 60px;
}

.del{
    width: 30px;
    padding-bottom: 10%;
    color: rgba(250, 0, 10, 0.7);
    border: 1px solid rgba(53, 78, 221, 0.945);
    border-radius: 50%;
}

.del:hover{
    color: rgba(53, 78, 221, 0.945);
    border: 1px solid rgba(250, 0, 10, 0.7);

    background-color: rgba(0,0,0, 0.2);
}

.order-table{
    position: relative;
    left: 40px;
    width: 70%;
}

.order-table tr{
    border-bottom: 1px solid black;
    width: 100%;
}

.o-col1{
    width: 6%;
}

.o-col2{
    width: 20%;
}

.o-col3{
    width: 3%;
}

.forms{
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
    margin-left: 35vw;
}

.reg{
    padding-bottom: 10px;
}

.lin{
    padding-bottom: 120px;    
}

@media (max-width: 768px)  {
    /*.top img{
        margin-top: -435px;
        margin-left: -565px;
        width: auto;
    }*/

    header{
        width: 100vw;
    }

    .banner3{
        display: flex;
        position: relative;
        width: 100%;
        background-color: rgba(0,0,0);
        
        padding: 30px;
    }
    
    .nike3{
        width: 200px;
        height: auto;
    }
    
    .shop-now1{
        position: absolute;
        top: -13vw;
        left: -100px;
    }

    .shopnow2{
        position: relative;
        left: 0.2vw;
        height: 18vw;
    }

    .banner-header2{
        width: 90vw;
    }

    .banner4{
        display: block;
    }

    .content{
        width: 90vw;
        margin-left: 10px;
        
    }
    .banner-container{
        width: 90vw;
    }

    .coatad-container{
        width: 88vw;
        height: 35vh;
        overflow: hidden;

    }
    
    .coatsad{
        width: 88vw;
        margin-top: -3vw;
        margin-left: 2vw;
        animation-name: scrollup;
        animation-duration: 60s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
    }
    .coatsad2{
        width: 88vw;
        margin-left: 2vw;
        animation-name: scrollup2;
        animation-duration: 30s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
    }
    
}