{% extends 'base.html' %}
{% block content %}
    <div class="product-view">
        <div>
            <img class="p-view" src="{{ url_for('static', filename='images/capetown.jpg') }}">
        </div>
        <div>
            <h3>Cape Town Tee</h3>
            <p>R160</p>
            <h4>Description</h4>
            <p>Cape Town City Tee - Light Blue Printed Tee</p>
            <br>
            <div>
                <h3>Colour</h3>
                <img class="colour-img" src="{{ url_for('static', filename='images/capetown.jpg') }}">
                <br>
                <small>Light Blue</small>
            </div>
            <br>
            <div class="cart-form">
                <form method="post">
                    <input class="addtocart" type="submit" name="addtocart" value="add to cart">
                </form>
                
            </div>
        </div>
    </div>
{% endblock %}