{% extends 'base.html' %}
{% block content %}
    <div class="content2">
        <div class="products-container">
            <ul class="products">
                <li>
                    <a href="{{ url_for('superstar') }}">
                        <img class="product-img" src="{{ url_for('static', filename='images/superstar.jpg') }}" > 
                        <div class="nl"><small>Adidas Superstar  - </small><span class="price">R700</span></div>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('nikesb1') }}">
                        <img class="product-img" src="{{ url_for('static', filename='images/nike.jpg') }}" > 
                        <div class="nl"><small>Nike Sb FC Classic (Black) - </small><span class="price">R650</span></div>
                    </a>
                    
                </li>
                <li>
                    <a href="{{ url_for('nikesb2') }}">
                        <img class="product-img" src="{{ url_for('static', filename='images/nike2.jpg') }}" > 
                        <div class="product-label nl"><small>Nike Sb FC Classic (Light Grey) - </small><span class="price">R650</span></div>
                    </a>
                    
                </li>
                <li>
                    <a href="{{ url_for('niketrainer') }}">
                        <img class="product-img" src="{{ url_for('static', filename='images/nike3.png') }}" >
                        <div class="nl"><small>Nike Trainer - </small><span class="price">R450</span><span class="sale">Sale</span></div> 
                    </a>   
                </li>
                <li>
                    <a href="{{ url_for('niketrainer2') }}">
                        <img class="product-img" src="{{ url_for('static', filename='images/nikew.png') }}" >
                        <div class="nl"><small>Nike Women's Trainer - </small><span class="price">R485</span><span class="sale">Sale</span></div>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('nikesb3') }}">
                        <img class="product-img" src="{{ url_for('static', filename='images/nike5.jpg') }}" > 
                        <div class="nl"><small>Nike Sb Blazer (white) - </small><span class="price">R745</span></div>
                    </a>                   
                </li>
                
                <li>
                    <a href="{{ url_for('nikesb4') }}">
                        <img class="product-img n" src="{{ url_for('static', filename='images/nike6.png') }}" >
                        <div class="nl"><small>Nike Dunk - </small><span class="price">R895</span></div>
                    </a>                     
                </li>
                <li>
                    <a href="{{ url_for('nikesb5') }}">
                        <img class="product-img" src="{{ url_for('static', filename='images/nikew2.png') }}" >
                        <div class="nl"><small>Ladies Nike Dunk-High - </small><span class="price">R955</span></div>
                    </a>                     
                </li>
                
                <li>
                    <a href="{{ url_for('dclynx1') }}">
                        <img class="product-img" src="{{ url_for('static', filename='images/lynx.png') }}" >
                        <div class="nl"><small>DC Lynx - </small><span class="price">R975</span></div>
                    </a> 
                </li>
                <li>
                    <a href="{{ url_for('dclynx2') }}">
                        <img class="product-img" src="{{ url_for('static', filename='images/lynx7.jpg') }}" >
                        <div class="nl"><small>DC Lynx - </small><span class="price">R975</span></div>
                    </a>             
                </li>
                <li>
                    <a href="{{ url_for('dclynx3') }}">
                        <img class="product-img" src="{{ url_for('static', filename='images/lynx5.jpg') }}" >
                        <div class="nl"><small>DC Lynx - </small><span class="price">R975</span></div> 
                    </a>             
                </li>
                <li>
                    <a href="{{ url_for('dclynx4') }}">
                        <img class="product-img" src="{{ url_for('static', filename='images/lynx3.jpg') }}" >
                        <div class="nl"><small>DC Lynx - </small><span class="price">R975</span></div> 
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}