{% extends 'base.html' %}
{% block content %}
    <div class="content2">
        <div class="products-container">
            <h2>Men</h2>
            <ul class="products">
                <li>
                    <a href="{{ url_for('capetown') }}">
                        <div class="f-img-cont">
                            <img class="product-img" src="{{ url_for('static', filename='images/capetown.jpg') }}" >
                        </div> 
                        <div class="nl"><small>Cape Town Tee  - </small><span class="price">R160</span></div>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('capetown2') }}">
                        <div class="f-img-cont">
                            <img class="product-img" src="{{ url_for('static', filename='images/capetown2.jpg') }}" >
                        </div>
                         
                        <div class="nl"><small>Cape Town Tee  - </small><span class="price">R160</span></div>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('bronzeshirt1') }}">
                        <div class="f-img-cont">
                            <img class="product-img" src="{{ url_for('static', filename='images/bronzeshirt.jpg') }}" >
                        </div>
                         
                        <div class="nl"><small>Bronze Tee - </small><span class="price">R250</span></div>
                    </a>
                    
                </li>
                <li>
                    <a href="{{ url_for('bronzeshirt2') }}">
                        <div class="f-img-cont">
                            <img class="product-img" src="{{ url_for('static', filename='images/bronzeshirt2.jpg') }}" >
                        </div>
                         
                        <div class="product-label nl"><small>Bronze Tee - </small><span class="price">R250</span></div>
                    </a>
                    
                </li>
                <li>
                    <a href="{{ url_for('harleyshirt') }}">
                        <div class="f-img-cont">
                            <img class="product-img" src="{{ url_for('static', filename='images/harleyshirt.jpg') }}" >
                        </div>
                        
                        <div class="nl"><small>Harley Davidson Tee - </small><span class="price">R350</span><span class="sale">Sale</span></div> 
                    </a>   
                </li>
                <li>
                    <a href="{{ url_for('kiss') }}">
                        <div class="f-img-cont">
                            <img class="product-img" src="{{ url_for('static', filename='images/kiss.jpg') }}" >
                        </div>
                        
                        <div class="nl"><small>Kiss Band Tee - </small><span class="price">R300</span><span class="sale">Sale</span></div>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('popsmoke') }}">
                        <div class="f-img-cont">
                            <img class="product-img" src="{{ url_for('static', filename='images/popsmoke.jpg') }}" >
                        </div>
                         
                        <div class="nl"><small>Pop Smoke Tee - </small><span class="price">R345</span></div>
                    </a>                   
                </li>       
                <li>
                    <a href="{{ url_for('retroplanet1') }}">
                        <div class="f-img-cont">
                            <img class="product-img n" src="{{ url_for('static', filename='images/retroplanetcallahan.jpg') }}" >
                        </div>
                        
                        <div class="nl"><small>Retro Planet Tee - </small><span class="price">R360</span></div>
                    </a>                     
                </li>
                <li>
                    <a href="{{ url_for('retroplanet2') }}">
                        <div class="f-img-cont">
                            <img class="product-img" src="{{ url_for('static', filename='images/retroplanet.jpg') }}" >
                        </div>
                        
                        <div class="nl"><small>Retro Planet M.O.T.U - </small><span class="price">R360</span></div>
                    </a>                     
                </li>
                
                <li>
                    <a href="{{ url_for('retroplanet3') }}">
                        <div class="f-img-cont">
                            <img class="product-img" src="{{ url_for('static', filename='images/retroplanetcolumbus.png') }}" >
                        </div>
                        
                        <div class="nl"><small>Retro Planet Columbus - </small><span class="price">R360</span></div>
                    </a> 
                </li>
                <li>
                    <a href="{{ url_for('shelby') }}">
                        <div class="f-img-cont">
                            <img class="product-img" src="{{ url_for('static', filename='images/shelbyyellow.jpg') }}" > 
                        </div>
                        
                        <div class="nl"><small>Shelby Tee - </small><span class="price">R140</span></div>
                    </a>             
                </li>
                <li>
                    <a href="{{ url_for('kc') }}">
                        <div class="f-img-cont">
                            <img class="product-img" src="{{ url_for('static', filename='images/kc.jpg') }}" >
                        </div>
                        
                        <div class="nl"><small>Kansas City Tee - </small><span class="price">R160</span></div> 
                    </a>             
                </li>
                <li>
                    <a href="{{ url_for('kobe') }}">
                        <div class="f-img-cont">
                            <img class="product-img" src="{{ url_for('static', filename='images/kobe.jpg') }}" >
                        </div>
                        
                        <div class="nl"><small>Kobe Legend Tee - </small><span class="price">R400</span></div> 
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('nirvana') }}">
                        <div class="f-img-cont">
                            <img class="product-img" src="{{ url_for('static', filename='images/nirvana.jpg') }}" >
                        </div>
                        
                        <div class="nl"><small>Nirvana Tee - </small><span class="price">R400</span></div> 
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('photosynthesis') }}">
                        <div class="f-img-cont">
                            <img class="product-img" src="{{ url_for('static', filename='images/photosynthesis.jpg') }}" >
                        </div>
                        
                        <div class="nl"><small>Photosynthesis Tee - </small><span class="price">R140</span></div> 
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('peace') }}">
                        <div class="f-img-cont">
                            <img class="product-img" src="{{ url_for('static', filename='images/3daysofpeace.jpeg') }}" >
                        </div>
                        
                        <div class="nl"><small>3 Days of Peace Tee - </small><span class="price">R140</span></div> 
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('wheaties') }}">
                        <div class="f-img-cont">
                            <img class="product-img" src="{{ url_for('static', filename='images/wheatiesfootball.jpg') }}" >   
                        </div>
                        <div class="nl"><small>Wheaties Football Tee - </small><span class="price">R140</span></div> 
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('sugar') }}">
                        <div class="f-img-cont">
                            <img class="product-img" src="{{ url_for('static', filename='images/sugardaddy.jpg') }}" >
                        </div>
                        <div class="nl"><small>Sugar Daddy Tee - </small><span class="price">R140</span></div> 
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('flannel') }}">
                        <div class="f-img-cont">
                            <img class="product-img" src="{{ url_for('static', filename='images/shirt.png') }}" >
                        </div>
                        <div class="nl"><small>DG Flannel Shirt - </small><span class="price">R200</span></div> 
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('stones') }}">
                        <div class="f-img-cont">
                            <img class="product-img" src="{{ url_for('static', filename='images/thestones.jpg') }}" >
                        </div>
                        <div class="nl"><small>The Stones Band Tee - </small><span class="price">R340</span></div> 
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('who') }}">
                        <div class="f-img-cont">
                            <img class="product-img" src="{{ url_for('static', filename='images/thewho.jpg') }}" >
                        </div>
                        <div class="nl"><small>The Who Band Tee - </small><span class="price">R340</span></div> 
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}