{% extends 'base.html' %}
{% block content %}
    <div class="product-view">
        <div>
            <img class="p-view" src="{{ url_for('static', filename='images/nikew.png') }}">
        </div>
        <div>
            <h3>Nike Women's Trainer</h3>
            <p>R485</p>
            <h4>Description</h4>
            <p>Nike Women's Trainer - Black & White</p>
            <br>
            <div>
                <h3>Colour</h3>
                <img class="colour-img" src="{{ url_for('static', filename='images/nikew.png') }}">
                <br>
                <small>Black & White </small>
            </div>
            <br>
            <div class="cart-form">
                <form method="post">
                    <input class="addtocart" type="submit" name="addtocart" value="add to cart">
                </form>
                
            </div>
        </div>
    </div>
{% endblock %}